.nav {
    background: #233142; ;
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    backdrop-filter: blur(10px);
}

.btnNavLink {
    
    height: fit-content;
    background-color: transparent;
    
    color: white;
    border:  none;
    font-size: 1.2em;
    &:hover {
        transition: ease-in-out 0.4s;
        border: 1px solid white;
        border-radius: 5px;
    }
} 
.navlink{
    text-decoration: none;
    color: white;
}
.active {
    color: greenyellow;
    font-size: 1.3em;
    font-weight: bold;
    text-shadow: inherit 0 0 0.5em currentColor;
}