.cardBody{
    background-color:  rgba(26,142,84,1);

    display: flex;
    flex-direction: column;
    width: 15%;
    height: auto;
    margin: 20px 0;
    padding: 2%;
    font-size: 0.8em;
    border-radius: 50px 0px 50px 0;
    position: relative;
}
.btnContainer{
    display: flex;
    justify-content: space-between;
    padding: 7px 0;
}
.btnFav {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
}
.btnClose {
    border-radius: 50%; 
    border: none;
}
img{
    border-radius: 0 20px 0 20px;
}
.link {
    text-decoration: none;
}
.name{
    font-size: 2.2em;
    color: #9db6c9;
    text-decoration: none;
    border: 1px solid greenyellow;
    background-color: ;
}